@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    font-size: 16px;
}

* {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;

}
.grid-container {
    display: grid;
    height: 100vh;
    grid-template: 3fr 1fr 10fr / 0.9fr 4.5fr;
}
 
#header-container {
    grid-area: 1 / 2 / 2 / -1;
}
#header {
    display: grid;
    grid-template: 1fr 1fr / 2fr 1fr;
}
#header .notifications-panel img{
    width: 50px;
    height: 50px;
    border-radius: 100%;
}
#header > .search-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding-left: 30px;
}
#header > div {
    display: flex;
    align-items: center;
    gap: 20px;
}
#usr_name {
    font-weight: bold;
    font-size: .8rem;
}
.greetings {
    font-size: 1.3rem;
    padding-left: 30px;
    font-weight: bold;
}
.greetings img {
    width: 50px;
    border-radius: 100%;
}
.notifications-panel, .buttons {
    padding-right: 60px;
    justify-content: right;
    text-align: right;
}
.buttons > button {
    background-color: #1992d4;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    min-height: 30px;
    min-width: 75px;
    border-radius: 60px;
}
.greetings p {
    text-align: left;
}
#header > .search-container > input {
    border-radius: 30px;
    border: none;
    height: 23px;
    background-color: #e2e8f0;
    flex: 1;
    max-width: 90%;
}
/*header outline*/
#header > *{
}
#main-container {
    grid-area: 2 / 2 / -1 / -1;
    background-color: #e5f2fa;
    display: grid;
    padding: 20px 15px 20px 15px;
    grid-template: 1fr / 2.5fr 1fr;
} 
#main-left{
    display: grid;
}
#main-left p, h4 {
    text-align: left;
}
#main-left .icons {
    display: flex;
    gap: 12px;
    margin-right: 30px;
    justify-content: right;
}
.box, .main-left icons {
    border-radius: 2%;
    border-left: 8px solid yellow;
    margin: 10px;
    padding: 20px;
    background-color: #ffffff
}
#dashboard-header {
    margin-bottom: 30px;
}
#header-container,
#navigation {
    padding-top: 10px;
}
#navigation {
    font-size: 1.2rem;
    padding-left: 10    px;
    font-weight: 700;
    color: #e5f2fa;
    background-color: #1992d4;
    display: grid;
    grid-area: 1 / 1 / -1 / 2;  
}
#navigation > ul {
    display: flex;
    gap: 15px;
    flex-direction: column;
}
#navigation .dashboard-item span {
    width: 3rem;
}
#navigation .dashboard-item  {
    display: flex;
    align-items: center;
    gap: 10px;
}
#navigation > ul > li {
   list-style-type: none; 
}

#navigation > ul {
    padding: 0;
    text-align: left;

}
.communities {
    margin-bottom: 35px;
}

#main-left {

    display: grid;
    grid-template-rows: repeat(auto-fill, minmax(200px,1fr));
    grid-template-columns: repeat(2, 1fr);

}



#aside {
    display: grid;
    grid-template: 1fr 1fr / 1fr;
}




