@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    font-size: 16px;
}
#header img{
    width: 50px;
}
* {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    outline: 1px solid red;

}
.grid-container {
    display: grid;
    height: 100vh;
    grid-template: 3fr 10fr / 0.8fr 4.5fr;
}
 
#header-container {
    grid-area: 1 / 2 / 2 / -1;
}
#header {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
}
#header > .search-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding-left: 30px;
}
#header > .search-container > input {
    border-radius: 30px;
    border: none;
    height: 20px;
    background-color: #e2e8f0;
    flex: 1;
    max-width: 90%;
}
/*header outline*/
#header > *{
}
#main-container {
    grid-area: 2 / 2 / -1 / -1;

    display: grid;
    gap: 10px;
    grid-template: 1fr / 2.5fr 1fr;
} 
#main-left{
    display: grid;

}
#dashboard-header {
    margin-bottom: 30px;
}
#header-container,
#navigation {
    padding-top: 10px;
}
#navigation {
    font-weight: 700;
    color: #e5f2fa;
    background-color: #1992d4;
    display: grid;
    grid-area: 1 / 1 / -1 / 2;  
}
#navigation > ul {
    display: flex;
    gap: 15px;
    flex-direction: column;
}
#navigation .dashboard-item span {
    width: 3rem;
}
#navigation .dashboard-item  {
    display: flex;
    align-items: center;
    gap: 10px;
}
#navigation > ul > li {
   list-style-type: none; 
}

#navigation > ul {
    padding: 0;
    text-align: left;

}
.communities{
    margin-bottom: 35px;
}

#main-left {

    display: grid;
    grid-template-rows: repeat(auto-fill, minmax(200px,1fr));
    grid-template-columns: repeat(2, 1fr);

}



#aside {
    display: grid;

    grid-template: 1fr 1fr / 1fr;
}



